<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-GO</title>
    <link rel="icon" href="img/icon.png">

    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body onload="checkUser()">
    <div class="row">
        <div class="col-md-10">
            <h3 class="mt-3" id="userON">Bem vindo </h3>
        </div>
        <div class="col-md-2">
            <button class="mr-0" id="settings" onclick="openSettings()"><i class="fas fa-cog fa-2x"></i></button>
        </div>
    </div>
    <div class="container">
        <form id="formChat" style="display: none;">
            <div class="messages overflow-auto"></div>
            <div class="row mb-2 rowMessage">
                <div class="col-10">
                    <input type="text" id="inputMessage" name="message" placeholder="Digite sua mensagem">
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <button type="submit" id="sendMessage"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </form>

        <form id="setUser" style="display: none;">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <input type="text" id="inputUser" name="user" placeholder="Digite seu nick">
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                    <button type="submit" id="sendMessage"><i class="fas fa-share"></i></button>
                </div>
            </div>
        </form>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSettings" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Configurações</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="row">
                    <div class="col-md-2">
                        <label for="inputEditUser">Nick</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" id="inputEditUser" name="user" value="">
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-2">
                        <label for="inputEditUser">Cor</label>
                    </div>
                    <div class="col-md-10">
                        <input type="color" id="inputEditUseColor" name="color" value="">
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button type="submit" id="sendSettins" onclick="saveSettings()">Salvar <i class="fas fa-save pl-2"></i></button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="js/socket-controller.js"></script>
    <script src="js/chat-controller.js"></script>

</body>