<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-GO | Login</title>
    <link rel="icon" href="img/icon.png">

    <!-- Jquery | ajax -->
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Sweetalert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Custom styles -->
    <link rel="stylesheet" href="./css/style.min.css">
</head>

<body onload="checkUser()">
    <div class="layer"></div>
    <main class="page-center">
        <article class="sign-up">
            <h1 class="sign-up__title">Get started</h1>
            <p class="sign-up__subtitle">Start your chat-go experience</p>
            <form class="sign-up-form form" action="" method="" id="setUser">
                <label class="form-label-wrapper">
                  <p class="form-label">Name</p>
                  <input class="form-input" type="text" placeholder="Enter your nick" id="inputUser" name="inputUser" required>
                </label>
                <button class="form-btn primary-default-btn transparent-btn">Sign in</button>
            </form>
        </article>
    </main>

    <!-- Chat controllers -->
    <script src="js/chat.functions.js"></script>
    <script src="js/chat.controller.js"></script>

    <!-- Icons library -->
    <script src="plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="plugins/layout.min.js"></script>
</body>

</html>